:root {
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  --fire: #ff6d00;
  --electric: #64d3ff;
}

@import url("https://fonts.googleapis.com/css2? familia=Nunito:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
}


.header {
  display: flex;
  width: 100%;
  background: linear-gradient(to bottom, #121e3c, var(--background));
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 0px 25px 0px 25px;
  position: fixed;
  top: 0;
}

.navbar,
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
}

.header .logo img {
  height: 90px;
  width: auto;
  border-radius: 5em;
  transform: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  color: var(--text-white);
}

.nav-links li:first-child > a {
  color: var(--text-white);
  font-weight: 800;
}

.header .nav-links li a:hover {
  color: var(--electric);
}

main {
  background: var(--background);
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
}

#zona{
  margin-top: 85px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.zona-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  color: var(--text-gray);
}

.zona-info h1{
  font-size: 48px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  background: linear-gradient(to bottom, var(--primary), var(--text-white));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.zona-info p > span{
  font-weight: 800;
  color: var(--electric);
}

.zona-info li:first-child > a{
  color: var(--text-white);
  background-color: var(--primary);
  width: 150px;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
}

.zona-info a{
  color: var(--secondary);
  background-color: var(--electric);
  width: 150px;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.zona-info li:hover {
  transform: scale(1.1);
}

.zona-btn-links{
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding-top: 30px;
}

.zona.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .zona-card{
    width: 900px;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 20px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .zona-card img{
    border-radius: 20px;
    width: 650px;
  }

.zona-card-grafic{
  display: flex;
  flex-direction: column; 
  gap: 35px;
}

.zona-card-top{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px; 
}

.zona-card-top > p{
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--electric);
}

#info{
  margin-top: 85px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 60px;
}



.info-titulo h2{
  font-size: 40px;
  width: 100%;
  min-width: 500px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
}

.info-descripcion-top{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: var(--secondary);
  color: var(--text-gray);
  padding: 15px 20px;
  border-radius: 15em;
}

.info-descripcion-end{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: var(--secondary);
  color: var(--text-gray);
  padding: 15px 20px;
  border-radius: 15em;
}

#info p > span{
  font-weight: 800;
  color: var(--electric);
}

#card{
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.card-titulo h2{
  font-size: 40px;
  width: 100%;
  min-width: 500px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
}

.cards-conteiner{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.info-cards{
  width: 300px;
  height: 400px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10mm;
  background-color: var(--secondary);
  gap: 20px;
}

.info-cards img{
  width: 120px;
}

.info-cards h3{
  font-weight: 600;
  font-size: 18px;
}

.info-cards p{
  font-weight: 300;
  font-size: 18px;
  color: var(--text-gray);
}

#discover{
  padding: 70px 0;
  max-width: 1200px;
  gap: 20px;
}

.discover-info{
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 50px;
}

.discover-info h2{
  font-size: 32px;
  width: 45%;
  font-weight: 800;
}

.discover-text{
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 20px;
}

.discover-info p{
  font-size: 16px;
  font-weight: 300;
  color: var(--text-gray);
}

.discover-text a{
  color: var(--electric);
  font-weight: 600;
  text-decoration:underline;
}



footer{
  background-color: var(--background);
  color: var(--text-white);
  display: flex;  
  justify-content:center;
  align-items:center;
  flex-direction: column;
  
  gap: 40px;
  padding: 60px 0;
}

.contacto{
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  
}

.oficinas{
  display: flex;
  gap: 50px;
}

.oficinas-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-contacto{
    width: 480px;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 20px;    
    display: flex;
    
    gap: 20px;
}

.img-contacto img{
  border-radius: 20px;
  width: 450px;
  height: 300px;
}

.redes{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.redes a:hover {
  transform: scale(1.2);
}



footer a{
  color: var(--text-gray);
  font-weight: 200;
  font-size: 15px;
}

.footer-end{
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 20px;
}

.footer-links ul{
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-links  li:hover{
  transform: scale(1.2);
}

.footer-links{
  color: var(--electric);
}

.contacto h2{
  font-size: 40px;
  width: 100%;
  min-width: 500px;
  font-weight: 800;
}

.oficinas-info h3{
  font-weight: 800;
}

.footer-img img{
  width: 150px;
}

#menu-toggle{
  display: none;
}

#menu-toggle:checked + .nav-links{
  display: flex;
}